# Data Privacy Workshop
## Privacy in a Networked World, Spring 2020
##### *Google Colaboratory:  https://colab.research.google.com/notebooks/intro.ipynb*

In the previous exercise, you saw how anecdotal information that individuals have can lead to a breach in privacy. Similarly, this exercise will demonstrate how two unrelated datasets could be linked to violate the privacy of ordinary people. To do this, we'll merge a dataset modeled from LinkedIn information with a dataset modeled from "deidentified" information about cardiovascular disease medications.

First, you'll need to import necessary libraries. Because Python is an open-source programming language, the programming community has created libraries to supplement Python's standard library. Today, we will Pandas, a Python library for data analysis. Pandas makes it easy to handle and manipulate csv files and other data formats by creating DataFrames.

In [16]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd
import os

Get the data from CSC Github page: [tinyurl.com/csc-github](https://tinyurl.com/csc-github)

There are two datasets, one modeled after LinkedIn data (or more generally, social media) and the other after common survey data.

In [0]:
linked_in_url = "https://raw.githubusercontent.com/Barnard-Computational-Science-Center/data-privacy-example/master/mock_linked_in_data.csv"
study_data_url = "https://raw.githubusercontent.com/Barnard-Computational-Science-Center/data-privacy-example/master/mock_study_data.csv"

To create a dataframe from a csv file, we'll use the Pandas function read_csv. Because it is a Pandas function, and we gave the Pandas library the alias 'pd' when importing it, we can reference the function by typing ```linked_in_df = pd.read_csv("filename")```.

The function takes a file name argument. We will also assign the dataframe to the name linked_in_df so that we can reference it later. In this exercise, we'll be using csv files that are hosted on the CSC GitHub page. To access their URLs, you would click on the file in GitHub, click on the "Raw" button near the top, and copy the resulting URL.

```linked_in_df.head()``` is a function that allows us to see the first five observations of the DataFrame. It is a function, but has no required arguments, so you just need to type an empty ().

In [19]:
linked_in_df = pd.read_csv(linked_in_url)
linked_in_df.head()

        full_name      race  gender  ...     state           city zip_code
0      Gabby Ygoe     Black    Male  ...  New York        Jamaica    11499
1   Perice Elloit     White    Male  ...  New York  New York City    10280
2   Julian Abbott     White    Male  ...  New York  New York City    10090
3  Rudolph Extill  Hispanic    Male  ...  New York         Albany    12210
4   Sondra Malter     Black  Female  ...  New York  New York City    10099

[5 rows x 8 columns]

Consider raw survey data for a study similar this one: https://www.ahajournals.org/doi/10.1161/CIRCOUTCOMES.117.004194

The mock data we're going to merge with the LinkedIn data might be used to analyse efficacy of 3 common cardiovascular disease medications (Pradaxa, Plavix, Eliquis).

In [20]:
study_df = pd.read_csv(study_data_url)
study_df.head()

    race  gender  age medication            job_title           city
0  White  Female   68    Pradaxa               Lawyer        Buffalo
1  White    Male   69    Eliquis               Laywer          Bronx
2  White    Male   70     Plavix  Electrical Engineer       Brooklyn
3  White    Male   70    Pradaxa      Biostatistician         Elmira
4  White  Female   70    Pradaxa    Director of Sales  New York City

Look for similar fields between the two dataframes. Consider the possible limitations of some of the fields, and which may be optimal to join on if the objective is to merge the data. Merging the data accurately would reveal that someone, based on information from their LinkedIn profile, was also part of a cardiovascular disease study, as well as which medication they were taking.

## Merging the DataFrames
The next step is to merge the two dataframes, which will potentially violate the privacy of these (fake) people. Pandas has a function that suits our needs, .merge(). There are 4 possible types of merges: left, right, inner, and outer.

![Venn diagrams demonstrating the difference between join types](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

[Source](http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

We'll use an inner merge because we're interested in the observations that exist in *both* DataFrames. An outer merge would keep all observations from both. Left and right joins would keep all of the observations from one of the DataFrames. 

```
pd.merge(left_df, right_df, how = {'inner', 'outer', 'left', or 'right'}, on = [all your merge columns, in ''])
```

Each of the items separated by commas in the .merge() function are the arguments that merge requires. The order of left_df and right_df only matters if you're using a left or right merge. In this case, we can write study_df and linked_in_df in any order. Our how will be 'inner' because we've determined that's the best join type for our purpose. On will be the columns we want to merge on, separated by commas, in quotes. If you were using different data, you would need to either make sure that the shared fields had the same names in both DataFrames, or use left_on and right_on to list them separately.

In [21]:
inner = pd.merge(study_df, linked_in_df, how = 'inner', on = ['race', 'gender', 'city', 'age', 'job_title'])
inner

    race  gender  age  ...         full_name     state zip_code
0  White    Male   70  ...     Aland Baroche  New York    14905
1  White  Female   66  ...  Michal Challinor  New York    10034
2  White    Male   60  ...    Roderick Emlen  New York    10024

[3 rows x 9 columns]

When we use all of the shared fields as our join fields, we only get 3 results. Given the large population of New York City and the ubiquity of Software Developers and Data Analysts, Michal and Roderick are unlikely to be a match. Aland, however, is a biostatistician in Elmira. Given the smaller population and relatively niche occupation, it's more likely that this is a match and Aland's medical information has been compromised.

## Experiment in groups
Next, you'll break out into small groups and experiment with the merge fields. See what the size of your merged dataframes are when you use different fields in the 'on' argument of merge. 

* Is it possible to find more matches using fewer fields? Are there any drawbacks to doing this? Experiment with different join combinations.
* Are there any issues with any of the fields? Things that might make it difficult to rely on them for merging? Remember, in this case, we are looking for exact matches.
* Are there characteristics of the DataFrames that might affect the joins, or the privacy of of the people they describe?

A few methods that might be helpful to your exploration:

* .describe() will return descriptive statistics for any quantitative fields. Example:
```
study_df.describe()
linked_in_df.describe()
```
* .value_counts() will return the distribution of qualitative values for a given field. Example: 
```
study_df['gender'].value_counts()
linked_in_df['job_title'].value_counts()
```
* len() returns the length of a DataFrame or list. Example:
```len(study_df)```
* .median(),.mean(), .min(), and .max() will return what you would expect.